/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: #000;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 50%;

}

/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex;   }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 60%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background: black;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(60%, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}
.hmove { animation: tickerh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }
